<ion-header>
  <ion-title>Docente!</ion-title>
<ion-toolbar>
  <ion-title>RegistrApp</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
  <!-- <h1>{{userDocente}}</h1>  (click) ="qrCode()"-->
  <h6>Haz click en el botón para iniciar el proceso de asistencia en línea</h6>
  <ion-button type="submit" expand="block" >Generar código QR</ion-button>
</div>

<div id="new">
</div>

<!-- <ngx-qrcode *ngIf="generateQrCode" style="text-align:center"
  [elementType]="elementType"
  [value]="value"
  cssClass="aclass"
  errorCorrectionLevel="L">
</ngx-qrcode> -->
</ion-content>
