<ion-header>
  <ion-title>Docente!</ion-title>
<ion-toolbar>
  <ion-title>RegistrApp</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
  <h1>{{userDocente}}</h1>
  <h6>Haz click en el botón para iniciar el proceso de asistencia en línea</h6>
  <ion-button type="submit" expand="block" (click) ="qrCode()" >Generar código QR</ion-button>
</div>


<ngx-qrcode
  *ngIf="generateQrCode"
  style="text-align:center"
  [elementType]="elementType"
  [errorCorrectionLevel]="correctionLevel"
  [value]="value"
  alt="Demo QR Code">
</ngx-qrcode>

</ion-content>
