<ion-header>
<ion-toolbar>
  <ion-title>RegistrApp</ion-title>
</ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bievenido {{userAlumno}}</ion-card-title>
      <ion-card-subtitle>Haz click en el botón para registrar tu asistencia</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

    </ion-card-content>
  </ion-card>
  <ion-fab (click)="scan()" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
